body{
    background-color: antiquewhite;
}


input{
    font-size: large;
    color: #406EDB;
}

.container {    
    display: flex; 
    flex-direction: column;
    /* background-color: brown;     */
}

.nav {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    
}

/* this keep buttons center */
.nav-btns{
    display: flex;
    padding: 5px;
}


/* Either delete lines 10-11 in listBar or rename 'button' on line 14  to space out buttons*/
.nav-btns button{
    font-family: Verdana;    
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #406EDB;
    color: white;

}

.main-content{
    display: flex;
    justify-content: center;
}

.nav-btns :hover{
    transition-duration: .25s;
  background-color: white;
  color: #406EDB;
}

.list-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* css for listBar */
.new-list-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
}
.new-list-form button{
    font-family: Verdana;    
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #406EDB;
    color: white;
}

.new-list-form button:hover{
    transition-duration: .25s;
  background-color: white;
  color: #406EDB;
}

.title h2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.title h1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding-bottom: 3rem; 
}

.list-bar{
    display: flex;
    flex-wrap: wrap;
}

.list-bar img{
    display: flex;
    height: 150px;
    width: auto;
    cursor: pointer;
    border-radius: 100%;
}

.btn-section h2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-variant: small-caps;
}

.btn-section img:active{
  transform: scale(95%);
  border-radius: 100%;  
}

.list-btns{
    display: flex;
    justify-content: left;
}


.info-box{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px;
    /* background-color: purple; */
}



/* css for displaySingleList*/
.main-content {
    display: flex;
    /* justify-content: space-around;
    background-color: yellow; */
}

.main-content h3{
    text-align: center;
    font-variant: small-caps;
    max-width: 200px;
}
.new-album-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: chartreuse; */
}

input{
    font-size: large;
}

/* css for singleAlbum */
.new-album-form button{
    font-family: Verdana;    
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #406EDB;
    color: antiquewhite;
}
.new-album-form button:hover{
    transition-duration: .25s;
    background-color: antiquewhite;
    color: #406EDB;
}

.new-song-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* background-color: chartreuse; */
}

.new-song-form button{
    font-family: Verdana;    
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #406EDB;
    color: white;
}
.new-song-form button:hover{
    transition-duration: .25s;
    background-color: white;
    color: #406EDB;
}

.new-comment-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* background-color: chartreuse; */
}
.new-comment{
    font-size: larger;
}

.new-comment-form button{
    font-family: Verdana;    
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #406EDB;
    color: white;
}
.new-comment-form button:hover{
    transition-duration: .25s;
    background-color: white;
    color: #406EDB;
}

/* .album-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.main-footer {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    /* background-color: cornflowerblue; */
}

