.container {
    background-color: brown;
    display: flex; 
    flex-direction: column;
        
}


.nav {
    display: flex;
    justify-content: center;
    background-color: aqua;
   
}

.list-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blanchedalmond;
    flex-wrap: wrap;
}

/* #nav-bar{
    display: flex;
    background-color: gray;

} */

/* #nav-btns {
    display: flex;   

} */

/* #nav-btns li{   
    list-style: none;
} */


.title h1{
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    background-color: purple;

   
}

.title h2{
    display: flex;
    justify-content: center;
    background-color: yellow;
}



/* #btn-section {
    display: flex;
    align-content: center;
} */

/* #logo-btns{
    display: flex; 
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    
} */

.list-bar img{
    height: 150px;
    width: auto;
    cursor: pointer;
    border-radius: 100%;
    background-color: purple;
}


/* #logo-btns img:active{
    transform: scale(95%);
    border-radius: 100%;
} */

.info-box{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px;
    background-color: purple;
}

/* #content{
    display: flex;
    justify-content: center;
    max-width: 75vw;
    background-color: pink;
} */

.main-content {
    display: flex;
    justify-content: space-around;
    background-color: yellow;
}

.main-footer {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    background-color: cornflowerblue;
}

.new-list-form{
    background-color: pink;

}