
body{
    background-image: url("https://images.saymedia-content.com/.image/t_share/MTc0MTM0OTg3MzUwNjE1MzU1/top-ten-items-to-have-on-a-deserted-island.jpg");
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-size: cover;
    font-family:Georgia, 'Times New Roman', Times, serif
    
}


header{
    align-self: center;
    width: 90vw;

    
        
}
.main-content{
   
    width: 90vw;
    align-self: center;
    padding-bottom: 1rem;
}

input{
    font-size: large;
    color: #406EDB;
}

.container {    
    display: flex; 
    flex-direction: column;

}

.nav {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    
}

/* this keep buttons center */
.nav-btns{
    display: flex;
    padding: 5px;
    gap: 10px;
}


/* Either delete lines 10-11 in listBar or rename 'button' on line 14  to space out buttons*/
.nav-btns button{
    font-family: Verdana;    
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #406EDB;
    color: white;
    min-width: 7rem;

}

.main-content{
    display: flex;
    justify-content: center;
}

.nav-btns :hover{
    transition-duration: .25s;
  background-color: white;
  color: #406EDB;
}



.list-bar {
    display: flex; 
    justify-content: space-evenly;
    /* row-gap: 3rem; */
    flex-wrap: wrap;
}

/* .list-bar section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #406EDB;
} */

/* .list-bar .btn-section{
    display: flex;
    flex-direction: column;
    background-color: #406EDB;
} */

/* listBar Section */
.new-list-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.new-list-form button{
    font-family: Verdana;    
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #406EDB;
    color: white;
}

.new-list-form button:hover{
    transition-duration: .25s;
  background-color: white;
  color: #406EDB;
}

.title h2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Staatliches', cursive;
    color: #f3d3b8;
    text-shadow: 1px 1px 2px black;

}

.title h1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding-bottom: 3rem; 
    font-family: 'Staatliches', cursive;
    color: #f3d3b8;
    text-shadow: 1px 1px 2px black;
}

.list-bar{
    display: flex;
    flex-wrap: wrap;
    color: #f3d3b8;
    font-variant: small-caps;
    text-shadow: 1px 1px 2px black;
}

.list-bar img{
    display: flex;
    height: 150px;
    width: auto;
    cursor: pointer;
    border-radius: 100%;
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

main .btn-section h3{
    display: flex;
    justify-content: center;
    text-align: center;
    font-variant: small-caps;
    color: #f3d3b8;
    text-shadow: 1px 1px 2px black;
}

.btn-section img:hover{
    transform: scale(95%);
  border-radius: 100%; 
  cursor: pointer;
  transition: 500ms;
}

.btn-section img:active{
  transform: scale(95%);
  border-radius: 100%;  
  background-color: black;
}

main .btn-section img {
    max-height: 250px;
    width: auto;    
}

.info-box{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px;

}

/* css for displaySingleList*/
.main-content {
    display: flex;
}

.new-album-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    font-size: large;
}

/* Single Album Section */
.new-album-form button{
    font-family: Verdana;    
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #406EDB;
    color: white;
}
.new-album-form button:hover{
    transition-duration: .25s;
    background-color: white;
    color: #406EDB;
}

.change-album-title-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.change-album-title-form button{
    font-family: Verdana;    
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #406EDB;
    color: white;
}

.change-album-title-form button:hover{
    transition-duration: .25s;
    background-color: white;
    color: #406EDB;
}

.new-song-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.new-song-form button{
    font-family: Verdana;    
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #406EDB;
    color: white;
}
.new-song-form button:hover{
    transition-duration: .25s;
    background-color: white;
    color: #406EDB;
}

.new-comment-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


.new-comment{
    display: flex;
    flex-wrap: wrap;
    font-size: larger;
    max-width: 50vw;
}


.new-comment-form button{
    font-family: Verdana;    
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #406EDB;
    color: white;
}
.new-comment-form button:hover{
    transition-duration: .25s;
    background-color: white;
    color: #406EDB;
}

.new-user-rating-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.new-user-rating {
    font-size: larger;
}

.new-user-rating-form button {
    font-family: Verdana;
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #406EDB;
    color: white;
}

.new-user-rating-form button:hover {
    transition-duration: .25s;
    background-color: white;
    color: #406EDB;
}

/* .album-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* Album Content Section */
.album-content{
    display: flex;
    flex-direction: column;
    border: black;
    border-style: groove;
    width: 75vw;
}

.album-content h3{
    display: flex;
    justify-content: center;
    width: auto;
    font-size: 2rem;
}


main .album-content img{
    display: flex;
    width: 100%;
  max-width: 400px;
  height: auto;
  padding: 10px;
    align-self: center;
}


.album-artist-notation{
    display: flex;
    justify-content: center;
    width: auto;
    font-size: 2rem;
}

.album-content p{
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;

}

/* .song-btn-section{
    width: fit-content;
    cursor: pointer;
    background-color: antiquewhite;
} */

.album-songs-notation{
    display: flex;
    justify-content: left;
    width: auto;
    font-size: 2rem;
    margin-left: 2rem;

}

.song-btn-section{
    display: flex;
    align-self: center;
    border-style: groove;
    width: fit-content;
    font-size: 1rem;
    cursor: pointer; 
}

.song-btn-section h5:hover{
    border-style: groove;
    width: fit-content;
    transform: scale(97%);
    font-size: 1rem;
    cursor: pointer;
    
}

.album-comments-notation{
    display: flex;
    justify-content: left;
    width: auto;
    font-size: 2rem;
    margin-left: 2rem;
}

.comments-section{
    display: flex;
    width: 75vw;
    justify-content: center;
    max-width: auto;
}
.comments-section p{
    display: flex;
    justify-content: center;    
    max-width: 50vw;
    border-style: double;

}

/* Single Song Section  */
.song-content{
    display: flex;
    flex-direction: column;
}
.change-song-title-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.song-content p{
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;
}

/* .song-content .comments-section p{
    display: flex;
    text-align: start;  
    max-width: 50vw;
    border-style: double;

} */
.song-content h3{
    display: flex;
    justify-content: center;
    width: auto;
    font-size: 2rem;
}

.song-comments-notation{
    display: flex;
    justify-content: left;
    width: auto;
    font-size: 2rem;
    margin-left: 2rem;
}
.change-song-title-form button{
    font-family: Verdana;    
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #406EDB;
    color: white;
}

.change-song-title-form button:hover{
    transition-duration: .25s;
    background-color: white;
    color: #406EDB;
}

button.delete-song{
    display: flex;
    justify-content: center;
    background-color: red;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    max-width: fit-content;
    align-self: center;
    margin-top: 1rem;
}

button.delete-album{
    display: flex;
    justify-content: center;
    background-color: red;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    max-width: fit-content;
    align-self: center;
    margin-top: 1rem;
}

.song-content{
    display: flex;
    flex-direction: column;
    border: black;
    border-style: groove;
    width: 75vw;
}

button{
    font-family: Verdana;    
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #406EDB;
    color: white;
    max-width: fit-content;
    align-self: center;
    margin-top: 1rem;

}

.main-footer {
    
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: white;
    text-shadow: 1px 1px 2px black;
}